@mixin langIcon() {
  img {
    width: 1rem;
    height: auto;
    margin-right: .5rem;
    @media (max-width: 767.98px) {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
#language-selector {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  @include langIcon();
}

.dropdown-menu {
  border: none;
  border-radius: .5rem;  
  min-width: auto;
  @media (max-width: 767.98px) {
    left: -0.5rem !important;
  }
  
  .dropdown-item {
    cursor: pointer;
    @include langIcon();
    padding: 0.25rem 0.5rem;
  }
}